*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    background-color: #fff4ea;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav img{
    margin: 20px;
     width: 60px;
     height: 60px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
padding: 20px;
list-style: none;
margin-left: 20px;
font-size: 20px;
color:black;
font-weight: bold;
}
nav ul li a{
    color: black;
    text-decoration: none;

}
nav ul li a:hover{
 color: purple;
}

nav hr{
    border: 1px solid goldenrod;
}
.hero{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 30px;
}

.hero img{
    height: 120px;
}
.hero h1{
    color: chocolate;
    font-size: 40px;
    text-decoration:wavy
}
.hero h2{
    font-style: italic;
    color: gray;
}

.banner {
    position: relative;
    width: 100%;
}
.banner img{
    height: 30vh;
    width: 200vh;
    margin: 20px;
    display: block;
}
.coming{
    position: absolute;
    top: 40%;
    left: 10%;
    color:#ead7b7;
    font-size: 60px;
    font-weight: bolder;
}


#menu-list{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}
hr{
    border: 1px solid gold;
}
.product{
    text-align: center;
    max-width: 380px;

}
.product img{
    height: 250px;
    width: 390px;
}
.product h2{
    color: purple;
}
.product h3{
    margin-top: 2px;
    font-size: 17px;
}
